<a href="https://colab.research.google.com/github/vince8-oss/5m-data-1.8-eda-basic/blob/main/SGJobData.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd

In [ ]:
# from google.colab import files
# import pandas as pd

# # This will open a file browser so you can select your local CSV file
# uploaded = files.upload()

# # Get the file name from the uploaded dictionary
# file_name = next(iter(uploaded))

# # Use the file name (path in the Colab environment) to read the CSV into a pandas DataFrame
# df = pd.read_csv(file_name)

# display(df.head())

In [ ]:
file_path = '/SGJobData.csv'
df = pd.read_csv(file_path)

display(df.head())

,categories,employmentTypes,metadata_expiryDate,metadata_isPostedOnBehalf,metadata_jobPostId,metadata_newPostingDate,metadata_originalPostingDate,metadata_repostCount,metadata_totalNumberJobApplication,metadata_totalNumberOfView,...,numberOfVacancies,occupationId,positionLevels,postedCompany_name,salary_maximum,salary_minimum,salary_type,status_id,status_jobStatus,title
0,"[{""id"":13,""category"":""Environment / Health""},{...",Permanent,2023-05-08,False,MCF-2023-0252866,2023-04-08,2023-03-30,2,5,151,...,1,NaN,Executive,WORKSTONE PTE. LTD.,2800,2000,Monthly,0,Closed,Food Technologist - Clementi | Entry Level | U...
1,"[{""id"":21,""category"":""Information Technology""}]",Permanent,2023-05-08,False,MCF-2023-0273977,2023-04-08,2023-04-08,0,0,55,...,2,NaN,Executive,TRUST RECRUIT PTE. LTD.,5500,4000,Monthly,0,Closed,"Software Engineer (Fab Support) (Java, CIM, Up..."
2,"[{""id"":33,""category"":""Repair and Maintenance""}]",Full Time,2023-04-22,False,MCF-2023-0273994,2023-04-08,2023-04-08,0,7,99,...,1,NaN,Senior Executive,PU TIEN SERVICES PTE. LTD.,4600,3800,Monthly,0,Closed,Senior Technician
3,"[{""id"":21,""category"":""Information Technology""}]",Permanent,2023-05-08,False,MCF-2023-0273991,2023-04-08,2023-04-08,0,6,113,...,1,NaN,Senior Executive,TRUST RECRUIT PTE. LTD.,10000,5000,Monthly,0,Closed,"Senior .NET Developer (.NET Core, MVC, MVVC, S..."
4,"[{""id"":2,""category"":""Admin / Secretarial""}]",Full Time,2023-05-08,False,MCF-2023-0273976,2023-04-08,2023-04-08,0,3,99,...,3,NaN,Non-executive,EATZ CATERING SERVICES PTE. LTD.,3400,2400,Monthly,0,Closed,Sales / Admin Cordinator

In [ ]:
print("Number of rows:", df.shape[0])

Number of rows: 1048575

In [ ]:
# Convert date columns to datetime objects
date_columns = ['metadata_expiryDate', 'metadata_newPostingDate', 'metadata_originalPostingDate']
for col in date_columns:
    df[col] = pd.to_datetime(df[col], errors='coerce')

# Create a new column for the average salary
df['average_salary'] = (df['salary_minimum'] + df['salary_maximum']) / 2

display(df[['salary_minimum', 'salary_maximum', 'average_salary', 'metadata_newPostingDate']].head())

   salary_minimum  salary_maximum  average_salary metadata_newPostingDate
0            2000            2800          2400.0              2023-04-08
1            4000            5500          4750.0              2023-04-08
2            3800            4600          4200.0              2023-04-08
3            5000           10000          7500.0              2023-04-08
4            2400            3400          2900.0              2023-04-08

In [ ]:
# Display column names and data types
print("Column Information:")
display(df.info())

# Display basic statistics for numerical columns
print("\nBasic Statistics:")
display(df.describe())

# Display the number of unique values in each column
print("\nUnique Values per Column:")
for col in df.columns:
    print(f"{col}: {df[col].nunique()} unique values")

In [ ]:
import plotly.express as px

# Count job postings by date
job_postings_over_time = df.groupby(df['metadata_newPostingDate'].dt.date).size().reset_index(name='count')
job_postings_over_time['metadata_newPostingDate'] = pd.to_datetime(job_postings_over_time['metadata_newPostingDate'])

# Create an interactive time series plot
fig = px.line(job_postings_over_time, x='metadata_newPostingDate', y='count', title='Job Postings Over Time')
fig.show()

In [ ]:
import plotly.graph_objects as go

# Group by date and calculate average salary
salary_over_time = df.groupby(df['metadata_newPostingDate'].dt.date)[['salary_minimum', 'salary_maximum']].mean().reset_index()
salary_over_time['metadata_newPostingDate'] = pd.to_datetime(salary_over_time['metadata_newPostingDate'])

# Create an interactive time series plot for average salaries
fig = go.Figure()

fig.add_trace(go.Scatter(x=salary_over_time['metadata_newPostingDate'], y=salary_over_time['salary_minimum'], mode='lines', name='Average Minimum Salary'))
fig.add_trace(go.Scatter(x=salary_over_time['metadata_newPostingDate'], y=salary_over_time['salary_maximum'], mode='lines', name='Average Maximum Salary'))


fig.update_layout(
    title='Average Minimum and Maximum Salary Over Time',
    xaxis_title='Date',
    yaxis_title='Salary'
)

fig.show()